
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #4E5927;
    color: #fff;
  }
  
  
  nav {
    background: #1F260F;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #4E5927;
  }
  
  
  header {
    text-align: center;
    padding: 30px 20px;
  }
  
  header h1 {
    font-size: 28px;
    margin: 0;
  }
  
  main {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
  }
  
  .profile {
    max-width: 800px;
    background:#1F260F;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  }
  
  
  
  
  
  .profile h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile p {
    font-size: 18px;
    margin: 8px 0;
  }
  
  .description {
    margin-top: 20px;
  }
  
  .description p {
    font-size: 16px;
    line-height: 1.8;
    color: #ddd;
  }
  .p1{
    text-align: center;
  }
  
  
  